@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
.greeting{
    font-size: 58px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
}
.center{
    margin-top: 5%;
    text-align: center;
}
.intro{
    font-size: 60px;
    margin-top: 40px;
}
.qualification{
    margin-top: 40px;
    font-size: 40px;
}
.translate{
    font-size: 63px;
    translate: 0 15px;
}