@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
.greeting{
    font-size: 58px;
    font-family: 'Cedarville Cursive', cursive;
    letter-spacing: 5px;
}
.center{
    margin-top: 5%;
    text-align: center;
}
.intro{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 50px;
    margin-top: 30px;
}
.qualification{
    margin-top: 6%;
    font-size: 30px;
}
.translate{
    font-size: 53px;
    translate: 0 15px;
}
.home{
   
}