/*----  Main Style  ----*/
.cards_landscape_wrap_2 {
  margin-bottom: 30px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px;
  padding: 2px;
  padding-left: 20px;
  padding-top: 10px;
}

.left {
  text-align: left;
}

.imageStyles {
  margin-top: 33%;
  margin-bottom: 33%;
  box-sizing: border-box;
}