@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

@font-face {
  font-family: "rogue";
  src: local("rogue"),
    url("./fonts/RougeScript-Regular.ttf") format("truetype");
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  font-weight: 400;
  line-height: 30px;
  color: #585858;
}

#header {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(90deg, rgba(73, 155, 156, 1) 0%, rgba(9, 121, 95, 0.9360119047619048) 35%, rgba(61, 146, 149, 1) 54%, rgba(33, 164, 161, 1) 100%);

}

.navbar {
  padding: 15px 0;
}

.navbar a {
  text-decoration: none;
}

h2.logo {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}

h2.logo strong {
  font-size: 35px;
  color: #EDF828;
  font-weight: 600;
}

h2.center-logo {
  margin: 0 25px;
}

#navbarSupportedContent {
  justify-content: center;
}

ul.navbar-nav li.nav-item {
  margin-right: 25px;
}

ul.navbar-nav li.nav-item:last-child {
  margin-right: 0;
}

ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #EDF828;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #EDF828;
}



.center {
  text-align: center;
  margin-bottom: 1%;
}

div.shadow::hover {
  -webkit-box-shadow: 26px 22px 38px 0px rgba(112, 108, 112, 0.46);
  -moz-box-shadow: 26px 22px 38px 0px rgba(112, 108, 112, 0.46);
  box-shadow: 26px 22px 38px 0px rgba(112, 108, 112, 0.46);
}

.next-button {
  position: relative;
}

.left {
  text-align: left;
}
section{
  z-index:3;
  position:relative;
}