
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@font-face {
  font-family: "rogue";
  src: local("rogue"),
   url("./fonts/RougeScript-Regular.ttf") format("truetype");
  }
body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  font-weight: 400;
  line-height: 30px;
  color: #585858;
}
#header {
  font-size: 26px;
  font-family: 'Oswald', sans-serif;
  background: linear-gradient(24deg, rgba(2,0,36,1) 0%, rgba(112,188,209,1) 55%, rgba(0,212,255,1) 100%); 
  overflow: hidden;
}
.navbar {
  padding: 15px 0;
}
.navbar a {
  text-decoration: none;
}
h2.logo {
  font-size: 28px;
  font-weight: 400;
  color: #fff;
}
h2.logo strong {
  font-size: 35px;
  color: #EDF828;
  font-weight: 600;
}
h2.center-logo {
  margin: 0 25px;
}
#navbarSupportedContent {
  justify-content: center;
}

ul.navbar-nav li.nav-item {
  margin-right: 25px;
}
ul.navbar-nav li.nav-item:last-child {
  margin-right: 0;
}
ul.navbar-nav li.nav-item a.nav-link {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  color: #EDF828;
}
ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #EDF828;
}
section{
  height: 100vh;
}